<% if current_user.id == message.user_id %>
  <div class="message-current-user">
    <div class="message-sent-at">
      <span>
      Sent <%= time_ago_in_words(message.created_at) %> ago,
      from <%= message.user_id %> (id = <%= message.user_id %>)
      <%= message.user.username %>
      to <%= User.find(message.recipient_id).username %>
      (id = <%= message.recipient_id %>)
      </span>
    </div>
    <div class="message-content">
      <p><%= message.message_body %></p>
    </div>
  </div>
<% else %>
  <div class="message-connected-user">
    <div class="message-sent-at">
      <span>
      Sent <%= time_ago_in_words(message.created_at) %> ago,
      from <%= message.user_id %> (id = <%= message.user_id %>)
      <%= message.user.username %>
      to <%= User.find(message.recipient_id).username %>
      (id = <%= message.recipient_id %>)
      </span>
    </div>
    <div class="message-content">
      <p><%= message.message_body %></p>
    </div>
  </div>
<% end %>
