<%# recipient %>
<% recipient = User.find(10) %>

<div id="chat-container">

<%= render 'chats/chats' %>

<div id="chat">
  <span>Logged in as <%= current_user.username %>, id = <%= current_user.id %></span>
  <div id="messages">
    <% @messages.each do |message| %>
      <div class="message">
        <div class="message-sent-at">
          <span>
          Sent <%= time_ago_in_words(message.created_at) %> ago,
          from <%= User.find(message.user_id).username %> (id = <%= message.user_id %>)
          to <%= User.find(message.recipient_id).username %>
          (id = <%= message.recipient_id %>)
          </span>

        </div>
        <div class="message-content">
          <p><%= message.message_body %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div id="new-message">
    <%= simple_form_for [@user, @message] do |f| %>
      <%= hidden_field_tag "message[recipient_id]", "#{recipient.id}" %>
      <div id="message-form">
        <div class="message-text">
          <%= f.input :message_body, as: :text, label: false, input_html: { rows: 1 } %>
        </div>
        <div class="send-message">
          <%= f.button :submit, 'Send message', class: ""%>
        </div>
      </div >
    <% end %>
  </div>

</div>

</div>
