<div class="users">
  <div class="new-chat">
    <p class="d-none">Connect to user</p>
    <%= simple_form_for @new_chatroom do |f| %>
      <div class="new-chat-content">
        <div class="message-text">
          <%= f.input :username,
                      as: :text,
                      label: false,
                      placeholder: "Username",
                      input_html: { rows: 1 }
                    %>
        </div>
        <div class="send-message">
          <%= f.button :submit, 'ADD', class: "submit-button" %>
        </div>
      </div>
    <% end %>
  </div>

  <% chatrooms = Chatroom.where(user_id: current_user.id).or(Chatroom.where(recipient_id: current_user.id)) %>
  <% chatrooms.each do |chatroom| %>
    <%= link_to chatroom_path(chatroom) do %>
      <div class="user">
        <div class="profile-picture">
          <% if recipient(chatroom).photo.key %>
            <%= cl_image_tag recipient(chatroom).photo.key, height: 45, width: 45, crop: :fill %>
          <% else %>
            <i class="fa-solid fa-user"></i>
          <% end %>
        </div>
        <div class="user-content">
          <div class="username">
            <% if chatroom.user_id == current_user.id %>
              <%= User.find(chatroom.recipient_id).username %>
            <% else %>
              <%= User.find(chatroom.user_id).username %>
            <% end %>
          </div>
          <div class="last-chat">
            <% if Message.where(chatroom_id: chatroom.id).length == 0 %>
              Send a new message.
            <% else %>
              <%= Message.where(chatroom_id: chatroom.id).last.message_body%>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="log-out">
    <%= link_to "SIGN OUT", destroy_user_session_path, data: {turbo_method: :delete} %>
  </div>
</div>
<%= javascript_include_tag('onloadDelayedAnimation') %>
