<div id="chat-container">

<%= render 'chatrooms/chatrooms_list' %>

  <div class="chat"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  >
  <span>Logged in as <%= current_user.username %>, id = <%= current_user.id %>, chatroom_id = <%= @chatroom.id %></span>
  <div id="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <div id="new-message">
    <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" },
      class: "d-flex" } do |f| %>
      <div id="message-form">
        <div class="message-text">
          <%= f.input :message_body,
                      as: :text,
                      label: false,
                      placeholder: "edit placeholder later, message goes here...",
                      input_html: { rows: 1 }
                    %>
        </div>
        <div class="send-message">
          <%= f.button :submit, 'Send message', class: ""%>
        </div>
      </div >
    <% end %>
  </div>

</div>

</div>
