 <%= render 'shared/loading_animation' %>
<div class="chat-container">

  <div id="render-chat-list">
    <%= render 'chatrooms/chatrooms_list' %>
  </div>

      <div id="mobile-navbar">
        <%= link_to root_path do %>
          <span class="back-to-chat-list"><i class="fa-solid fa-arrow-left"></i> BACK</span>
          <span class="recipient-message"><%= recipient(@chatroom).username %></span>
        <% end %>
      </div>

  <div class="chat"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
    data-chatroom-subscription-current-user-id-value="<%= current_user.id %>"
  >
    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <div class="d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
          <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
            <%= render "messages/message", message: message %>
          </div>
        </div>
      <% end %>
    </div>

    <div id="new-message">
      <%= simple_form_for [@chatroom, @message],
        html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" },
        class: "d-flex" } do |f| %>
        <div id="message-form">
          <div class="message-text">
            <%= f.input :message_body,
                        as: :text,
                        label: false,
                        placeholder: "New message",
                        input_html: { rows: 1 }
                      %>
          </div>
          <div class="send-message">
            <%= f.button :submit, 'SEND', class: "submit-button"%>
          </div>
        </div >
      <% end %>
    </div>
  </div>
</div>

<%# js to stop loading animation %>
<%= javascript_include_tag('onloadAnimation') %>
<%# js to scroll down page %>
<%= javascript_include_tag('onloadScrollDownAndLoadingAnimation') %>
