<div id="chat-container">

<div id="users">
  <div class="user">
    <div class="profile-picture">
      <i class="fa-solid fa-user"></i>
    </div>
    <div class="user-content">
      <div class="username">username123</div>
      <div class="last-chat">You: Lets meet at 4pm... • Jan 20</div>
    </div>
  </div>

</div>

<div id="chat">
  <span>Logged in as <%= current_user.username %>, id = <%= current_user.id %></span>
  <div id="messages">
    <% @messages.each do |message| %>
      <div class="message">
        <div class="message-sent-at"><span>Jan 20, 8.55 PM</span></div>
        <div class="message-content">
          <p>Lorem ipsum dolor sit.</p>
          <p><%= message.message_body %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div id="new-message">
    <% recipient_id = "foobar" %>
    <%= simple_form_for [@message, @message] do |f| %>
      <div id="message-form">
        <div class="message-text">
          <%= f.input :message, as: :text, label: false, input_html: { rows: 1 } %>
        </div>
        <div class="send-message">
          <%= f.button :submit, 'Send message', class: ""%>
        </div>
      </div >
    <% end %>
  </div>

</div>

</div>
